{% extends 'base.html' %}
{% load static %}

{% block title %}
- Management
{% endblock %}

{% block header %}
<div class="container-fluid">
    <div class="row my-4">
        <div class="col text-center">
            <h2 class="display-3 title-font">Admin Product Management</h2>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container border py-5 px-5 mt-4">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-6 text-center">
            <h1 class="text-font">Add a Product, Nutritional Information or Ingredient.</h1>
            <a class="btn text-white background-black text-font my-2" href="{% url 'product_management' %}">Return to
                Admin
                Management</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h3 class="text-font mt-3">Add a Product</h3>
            <form action="{% url 'admin_add' %}" method="post" class="form text-font">
                {% csrf_token %}
                {{ product_form | crispy }}
                <button class="button btn standout-button" type="submit" name="product_form_submit_button">Add
                    Product</button>
            </form>
        </div>
        <div class="col-md-4">
            <h3 class="text-font mt-3">Add Nutrition</h3>
            <form action="{% url 'admin_add' %}" method="post" class="form text-font">
                {% csrf_token %}
                {{ nutrition_form | crispy }}
                <button class="button btn standout-button" type="submit" name="nutrition_form_submit_button">Add
                    Nutrition</button>
            </form>
            <p class="text-font h6 mt-2">Please note the following contraints:</p>
            <p class="text-font h6 mb-2">All fields have a minimum value of 0.0. Energy has a maximum of 999.99. Fat,
                carbohydrate and sugars a max of 20.00, protein a max of 100.00 and salt a max of 5.00.</p>
        </div>
        <div class="col-md-4">
            <h3 class="text-font mt-3">Add Ingredients</h3>
            <form action="{% url 'admin_add' %}" method="post" class="form text-font">
                {% csrf_token %}
                {{ ingredient_form | crispy }}
                <button class="button btn standout-button" type="submit" name="ingredient_form_submit_button">Add
                    Ingredient</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}