{% extends 'base.html' %}
{% load static %}

{% block title %}
- Management
{% endblock %}

{% block header %}
<div class="container-fluid">
    <div class="row">
        <div class="col text-center">
            <h2 class="display-2">Admin Product Management</h2>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container border py-5 px-5 mt-4">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-6 text-center">
            <h1>Edit</h1>
            <a class="dropdown-item" href="{% url 'product_management' %}">Return to Admin Management</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="col-4">
                <form method="POST" class="form">
                    {% csrf_token %}
                    {{ product_form | crispy }}
                    <button class="button" type="submit" name="product_form_edit_button">Update Item</button>
                </form>
            </div>
            {% if nutrition_form %}
            <div class="col-4">
                <form method="POST" class="form">
                    {% csrf_token %}
                    {{ nutrition_form | crispy }}
                    <button class="button" type="submit" name="nutrition_form_edit_button">Update Item</button>
                </form>
            </div>
            {% endif %}
            {% for ingredient_form in ingredient_forms %}
            <div class="col-4">
                <form method="POST" class="form">
                    {% csrf_token %}
                    {{ ingredient_form | crispy }}
                    <button class="button" type="submit" name="ingredients_form_edit_button">Update Item</button>
                </form>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}