{% extends 'base.html' %}
{% load static %}

{% block title %}
- Home
{% endblock %}
{% block content %}
<header id="core-message" class="container">
    <div class="row mt-5 align-self-center justify-content-center">
        <div class="col-6 col-md-auto col-lg-4 col-xl-4 text-center align-self-center">
            <img src="{% static 'images/man-shake-skate.png' %}" class="img-fluid" alt="man running">
        </div>
        <div class="col-6 col-md-auto col-lg-8 col-xl-4 text-center align-self-center">
            <h1 class="title-font title-size">The Easy Whey</h1>
            <p class="d-none d-sm-block text-font">Making protein easy.</p>
            <a class="btn text-font mt-3 background-black text-white" href="#what-we-offer">Learn More</a>
        </div>
        <div class="d-none d-xl-inline col-lg-4 text-center align-self-center">
            <img src="{% static 'images/woman-shake-bike.png' %}" class="img-fluid" alt="woman on bike with shake">
        </div>
    </div>
</header>

<hr class="mb-4">
<div class="container mt-3" id="what-we-offer">
    <div class="row">
        <div class="col text-center">
            <h2 class="title-font header-size">What do we offer?</h2>
        </div>
    </div>
</div>
<section id="how-does-it-work">
    <div class="container text-center text-font">
        <div class="row">
            <div class="col-md-6 align-self-center">
                <p>Easy Whey Protein simply tastes fantastic. The unique protein powder has been
                    developed without compromise using only the finest whey protein concentrate.
                </p>
            </div>
            <div class="col-md-6"><img src="{% static 'images/man-shake-sitting.png' %}" class="img-fluid"
                    alt="man sitting with a protein shake"></div>
        </div>
        <div class="row">
            <div class="col-md-6 align-self-center">
                <p class="title-font my-3 header-size">What Are The Benefits?</p>
                <p>Easy Whey Protein is high in BCAAs and low in fat and cholesterol, making it a healthy protein shake
                    to consume, helping you reach and maintain your fitness goals.</p>
            </div>
            <div class="col-md-6">
                <img src="{% static 'images/man-weights.png' %}" class="img-fluid" alt="man exercising">
            </div>
        </div>
        <div class="row">
            <div class="d-none d-md-inline col-md-6"><img src="{% static 'images/woman-shake-1.png' %}"
                    class="img-fluid" alt="woman sitting with a protein shake"></div>
            <div class="col-md-6 align-self-center">
                <p class="title-font my-3 header-size">Why Easy Whey?</p>
                <p>It's a smooth, creamy, and delicious protein shake.</p>
                <p>Variety of flavours including Chocolate, Banana, Strawberry and Cookies
                    and Creme!</p>
                <p>Zero aftertaste, our's has no artificial aftertaste!</p>
                <p>Easy and quick to blend into a smooth and creamy shake.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6"><img src="{% static 'images/woman-shake-2.png' %}" class="img-fluid"
                    alt="women sitting with a protein shake"></div>
            <div class="col-md-6 align-self-center">
                <p class="title-font my-3 header-size">How Natural Is Easy Whey?</p>
                <p>Whey Protein is a natural a food source. With our Easy Whey, you can rest assured that
                    you are getting the purest and most natural whey protein possible.</p>
            </div>
        </div>
        <div class="row">
            <div class="col"> <a class="btn text-font my-3 background-black text-white"
                    href="{% url 'product_detail' %}">Product Details</a>
            </div>
        </div>
        <hr class="mb-4">
        <div class="container">
            <div class="row">
                <h2 class="col title-font my-3 header-size">How does it work?</h2>
            </div>
            <div class="row text-center mt-3">
                <div class="col-md-6 col-lg-3">
                    <i class="fa-solid fa-cookie-bite"></i>
                    <p class="my-3">Select a flavour, or selection of flavours.
                    </p>
                </div>
                <div class="col-md-6 col-lg-3">
                    <i class="fa-solid fa-scale-balanced"></i>
                    <p class="my-3">Select the quantities required.
                    </p>
                </div>
                <div class="col-md-6 col-lg-3">
                    <i class="fa-solid fa-truck"></i>
                    <p class="my-3">Pay and enjoy!
                    </p>
                </div>
                <div class="col-md-6 col-lg-3 align-self-center">
                    <p><a class="btn standout-button" href="{% url 'order' %}">Order!</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

</section>
{% endblock %}