{% extends 'base.html' %}
{% load static %}

{% block title %}
- Home
{% endblock %}
{% block content %}
<header id="core-message" class="container-fluid">
    <div id="overlay-parent" class="row" role="img" aria-label="protein powders on spoons in a circle arrangement">
        <div id="hero-overlay" class="col d-flex align-items-center justify-content-center">
            <div class="row">
                <div class="col-12 text-center">
                    <h1>The Easy Whey</h1>
                    <p>Making protein supplements easy.</p>
                    <a class="btn btn-warning" href="#how-does-it-work">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</header>
<hr class="my-4">
<div class="container-fluid">
    <div class="row">
        <div class="col text-center">
            <h2>What do we offer?</h2>
        </div>
    </div>
</div>
<section id="how-does-it-work">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6"><img src="../../static/images/chocolate-whey.png" class="img-fluid"
                    alt="chocolate whey protein powder on a plate"></div>
            <div class="col-6 align-self-center">Brief Explanation of the product here <a
                    href="{% url 'product_detail' %}">Learn More</a>
            </div>
        </div>
        <hr class="my-4">
        <div class="container-fluid">
            <div class="row">
                <h2 class="col text-center mb-4">How does it work?</h2>
            </div>
            <div class="row text-center">
                <div class="col-lg-3">
                    <i class="fa-solid fa-cookie-bite"></i>
                    <p class="mt-4">Select a flavour, or selection of flavours.
                    </p>
                </div>
                <div class="col-lg-3">
                    <i class="fa-solid fa-scale-balanced"></i>
                    <p class="mt-4">Select the quantities required.
                    </p>
                </div>
                <div class="col-lg-3">
                    <i class="fa-solid fa-truck"></i>
                    <p class="mt-4">Pick a reoccuring delivery date and enjoy!
                    </p>
                </div>
                <div class="col-lg-3">
                    <p><a class="btn btn-warning" href="{% url 'subscribe' %}">Subscribe!</a>
                    </p>
                </div>
            </div>
        </div>
        <hr class="my-4">


</section>
{% endblock %}