i {
    font-size: 2rem;
    color: black;
}

hr {
    height: 5px;
    color: black;
    justify-content: center;
}

#what-we-offer {
    scroll-margin-top: 3rem;
}

.title-font {
    font-family: 'Shadows Into Light', sans-serif;
}

.text-font {
    font-family: 'Quicksand', sans-serif;
}

.title-size {
    font-size: 3rem;
}

.header-size {
    font-size: 2rem;
}

.text-white {
    color: white !important;
}

.background-black {
    background-color: black !important;
}

#subscribe-button {
    background-color: coral;
    color: white;
}

/* COLOURS
1. #6a8b3b
2. #ffb955
3. #a37346
*/