i {
    font-size: 2rem;
    color: black;
}

hr {
    height: 5px;
    color: black;
    justify-content: center;
}

#what-we-offer {
    scroll-margin-top: 3rem;
}

.title-font {
    font-family: 'Shadows Into Light', sans-serif;
}

.text-font {
    font-family: 'Quicksand', sans-serif;
}

.title-size {
    font-size: 3rem;
}

.header-size {
    font-size: 2rem;
}

.text-white {
    color: white !important;
}

.text-black {
    color: black !important;
}

.background-black {
    background-color: black !important;
}

.background-white {
    background-color: white !important;
}

.standout-button {
    background-color: coral !important;
    color: white !important;
}

.scroller {
    overflow-y: auto;
    max-height: 50vh;
}

.btn-outline-custom {
    color: coral;
    border-color: coral;
}

.form-check-input:checked {
    background-color: coral;
    border-color: coral;
}

/* COLOURS
1. #6a8b3b
2. #ffb955
3. #a37346
*/