{% extends "account/base.html" %}

{% load i18n %}

{% block title %}
- Account Inactive
{% endblock %}


{% block header %}
<div class="container-fluid">
    <div class="row my-4">
        <div class="col text-center">
            <h2 class="display-3 title-font">Account Inactive</h2>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 text-font">
            <p>This account is inactive.</p>
        </div>
    </div>
</div>
{% endblock %}