{% extends "account/base.html" %}

{% load i18n %}

{% block title %}
- Set Password
{% endblock %}

{% block header %}
<div class="container-fluid">
    <div class="row my-4">
        <div class="col text-center">
            <h2 class="display-3 title-font">Set Password</h2>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 text-font">
            <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
                {% csrf_token %}
                {{ form | crispy }}
                <input type="submit" class="btn standout-button" name="action" value="{% trans 'Set Password' %}" />
            </form>
        </div>
    </div>
</div>
{% endblock %}