{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block title %}
- Password Reset
{% endblock %}

{% block header %}
<div class="container-fluid">
    <div class="row my-4">
        <div class="col text-center">
            <h2 class="display-3 title-font">Password Reset</h2>
        </div>
    </div>
</div>
{% endblock %}


{% block content %}

{% if user.is_authenticated %}
<div class="container">
    <div class="row text-center">
        <div class="col">{% include "account/snippets/already_logged_in.html" %}</div>
    </div>
</div>
{% endif %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 text-font">
            <p>We have sent you an e-mail. Please contact us if you do not receive it within a few
                minutes.</p>
            <a class="btn standout-button mb-3" href="{% url 'contact' %}">Contact Us</a>
        </div>
    </div>
</div>

{% endblock %}