{% extends "account/base.html" %}

{% load i18n %}
{% block title %}
- Password Reset
{% endblock %}

{% block header %}
<div class="container-fluid">
    <div class="row my-4">
        <div class="col text-center">
            <h2 class="display-3 title-font">
                {% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h2>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}


{% if token_fail %}
{% url 'account_reset_password' as passwd_reset_url %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 text-font">
            <p>The password reset link was invalid, possibly because it has already been used. Please request a new
                password reset below.</p>
            <a class="btn text-white background-black my-2" href="{{ passwd_reset_url }}">New Password Reset</a>
        </div>
    </div>
</div>
{% else %}
{% if form %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 text-font">
            <form method="POST" action="{{ action_url }}">
                {% csrf_token %}
                {{ form | crispy }}
                <input type="submit" name="action" value="{% trans 'Change Password' %}" class="btn standout-button" />
            </form>
        </div>
    </div>
</div>
{% else %}
<div class="container">
    <div class="row text-font text-center">
        <div class="col-md-6">
            <p class="text-font">Your password is now changed.</p>
        </div>
    </div>
</div>
{% endif %}
{% endif %}
{% endblock %}