{% extends "account/base.html" %}

{% load i18n %}

{% block title %}
- Verify E-mail
{% endblock %}

{% block header %}
<div class="container-fluid">
    <div class="row my-4">
        <div class="col text-center">
            <h2 class="display-3 title-font">Verify Your E-mail Address</h2>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 text-font">
            {% url 'account_email' as email_url %}

            <p>This part of the site requires us to verify that
                you are who you claim to be. For this purpose, we require that you
                verify ownership of your e-mail address.</p>

            <p>We have sent an e-mail to you for
                verification. Please click on the link inside this e-mail. Please contact us using the button below if
                you do not receive it within a few minutes</p>

            <p><strong>Note:</strong> you can still <a href="{{ email_url }}">change your e-mail
                    address</a>.</p>
            <a class="btn standout-button my-3" href="{% url 'contact' %}">Contact Us</a>
        </div>
    </div>
</div>

{% endblock %}