{% extends 'base.html' %}
{% load static %}

{% block title %}
- Contact
{% endblock %}
{% block content %}
<h1>Contact page</h1>
<div class="container">
    <div class="row">
        <div class="col-6 offset-3 justify-content-center">
            <div>
                {% if all_messages %}
                <h1>There are messages!</h1>
                <div class="message-container">
                    {% for message in all_messages %}
                    <div class="message-item">
                        {{ message.name }}, {{ message.email }}, {{ message.phone_number }}, {{ message.message }}, <a
                            class="btn btn-primary" href="/contact/admin/{{ message.id }}">View</a> <a
                            class="btn btn-warning" href="/contact/admin/delete/{{ message.id }}">Delete</a>
                    </div>
                    {% endfor %}
                </div>
                {% else %}
                <h1>There are no messages!</h1>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}