{% extends 'base.html' %}
{% load static %}

{% block title %}
- Contact
{% endblock %}

{% block header %}
<div class="container-fluid">
    <div class="row">
        <div class="col text-center">
            <h2 class="display-2">Customer messages.</h2>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-6 offset-3 justify-content-center">
            <div>
                <h3>Message from: {{ message.name }}, {{ message.email }} - <i>{{ message.phone_number }}</i>.</h3>
                <h4>{{ message.message }}</h4>
            </div>
            <a class="btn btn-primary" href="{% url 'message_management' %}">All Messages</a>
        </div>
    </div>
</div>
{% endblock %}