{% extends 'base.html' %}
{% load static %}

{% block title %}
- Contact
{% endblock %}

{% block header %}
<div class="container-fluid">
    <div class="row">
        <div class="col text-center">
            <h2 class="display-2">Message from {{ message.name }}.</h2>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-6 offset-3 justify-content-center">
            <div>
                {{ message.name }}, {{ message.email }}, {{ message.phone_number }}, {{ message.message }}
            </div>
            <a class="btn btn-primary" href="{% url 'message_management' %}">All Messages</a>
        </div>
    </div>
</div>
{% endblock %}