{% extends 'base.html' %}
{% load static %}

{% block title %}
- Contact
{% endblock %}
{% block content %}
<h1>Contact page</h1>
<div class="container">
    <div class="row">
        <div class="col-6 offset-3 justify-content-center">
            <div>
                {{ message.name }}, {{ message.email }}, {{ message.phone }}, {{ message.message }}
            </div>
            <a class="btn btn-primary" href="{% url 'message_management' %}">All Messages</a>
        </div>
    </div>
</div>
{% endblock %}