{% extends 'base.html' %}
{% load static %}

{% block title %}
- Error
{% endblock %}

{% block header %}
<div class="container-fluid">
    <div class="row my-4">
        <div class="col text-center">
            <h2 class="display-3 title-font">Sorry - 404!</h2>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 justify-content-center text-font text-center align-self-center">
            <h2>Sorry, this page does not exist!</h2>
        </div>
        <div class="col-md-6"><img src="{% static 'images/woman-shake-2.png' %}" class="img-fluid"
                alt="women sitting with a protein shake"></div>
    </div>
</div>
</div>
{% endblock %}