{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% block meta %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Whey protein subscription to make your fitness goals easier!">
    <meta name="keywords" content="whey, gym, protein, fitness, health, bodybuilding, subscription">
    <meta name="author" content="Kingsley Norman">
    {% endblock %}
    {% block css %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% endblock %}
    {% block js %}
    <script src="https://kit.fontawesome.com/601c3b6c2f.js" crossorigin="anonymous"></script>
    {% endblock %}
    <title>The Easy Whey {% block title %}{% endblock %}</title>
</head>

<body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">The Easy Whey</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item btn btn-dark">
                        <a class="nav-link" href="{% url 'product_detail' %}">Products</a>
                    </li>
                    <li class="nav-item btn btn-dark">
                        <a class="nav-link" href="{% url 'subscribe' %}">Subscription</a>
                    </li>
                    <li class="nav-item btn btn-dark">
                        <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                    </li>
                    <li class="nav-item dropdown btn btn-dark">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Accounts
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="{% url 'account_login' %}">Login</a></li>
                            <li><a class="dropdown-item" href="{% url 'account_signup' %}">Register</a></li>
                            <li><a class="dropdown-item" href="{% url 'account_logout' %}">Sign Out</a></li>
                            <li><a class="dropdown-item" href="{% url 'profile' %}">Profile</a></li>
                            <li><a class="dropdown-item" href="{% url 'product_management' %}">Product Management</a>
                            </li>
                            <!-- extra logic here from django for if authetnticated then hide register and login etc, if superuser add page for add product etc -->
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {% if messages %}
    <div class="message-container"></div>
    {% endif %}


    {% block header %}
    {% endblock %}


    {% block content %}
    {% endblock %}

    <footer id="footer">
        <div class="container-fluid">
            <div class="row d-inline text-center">
                <div class="col">
                    <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook"></i></a>
                    <a href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter mx-5"></i></a>
                    <a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </footer>

    {% block bootstrap %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>
    {% endblock %}
    {% block customjs %}
    {% endblock %}
</body>

</html>