{% extends 'base.html' %}
{% load static %}

{% block title %}
- Profile
{% endblock %}

{% block header %}
<div class="container-fluid">
    <div class="row my-4">
        <div class="col text-center">
            <h2 class="display-3 title-font">Your Profile</h2>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container border py-2 px-5 mt-4">
    <div class="row justify-content-center align-items-center">
        <div class="col text-center align-self-center"><img src="{% static 'images/man-shake-sitting.png' %}"
                class="img-fluid my-2 w-50" alt="man sitting with a protein shake"></div>
        <div class="col-md-6 text-center">
            <h2 class="text-font my-3">Edit your delivery details:</h2>
            <form action="{% url 'profile' %}" method="POST" id="profile-delivery-form">
                {% csrf_token %}
                {{ form | crispy }}
                <button type="submit" class="btn standout-button mb-4">Update Information</button>
            </form>
        </div>
    </div>
    <div class="row justify-content-center align-items-center">
        <div class="col text-center">
            <h2 class="text-font">Completed Orders</h2>
            {% if orders %}
            <table class="table table-hover align-middle text-font">
                <thead>
                    <tr>
                        <th scope="col" colspan="2">Order Number</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                    {% if order.is_paid %}
                    <tr>
                        <td>{{order.order_number|truncatechars:12}}</td>
                        <td><a href="{% url 'order_history' order.order_number %}" class="btn standout-button"
                                title="{{ order.order_number }}">View</a>
                        </td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
            <h2 class="text-font">Incomplete Orders</h2>
            <table class="table table-hover align-middle text-font">
                <thead>
                    <tr>
                        <th scope="col" colspan="2">Order Number</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                    {% if not order.is_paid %}
                    <tr>
                        <td>{{order.order_number|truncatechars:12}}</td>
                        <td><a href="{% url 'order_history' order.order_number %}" class="btn standout-button"
                                title="{{ order.order_number }}">View</a>
                        </td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <h3 class="text-font my-2">You currently have no orders.</h3>
            {% endif %}
        </div>
    </div>
</div>
</div>
{% endblock %}