{% extends 'base.html' %}
{% load static %}

{% block title %}
- Profile
{% endblock %}

{% block header %}
<div class="container-fluid">
    <div class="row">
        <div class="col text-center">
            <h2 class="display-2">Your profile:</h2>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container border py-5 px-5 mt-4">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-6 text-center">
            <h2>Edit your delivery details:</h2>
            <form action="{% url 'profile' %}" method="POST" id="profile-delivery-form">
                {% csrf_token %}
                {{ form | crispy }}
            </form>
        </div>
        <div class="col-md-6 text-center">
            <h2>Subscription Details</h2>
            {{ subscriptions }}
        </div>
    </div>
</div>
{% endblock %}