{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
- Subscribe
{% endblock %}

{% block header %}
<div class="container-fluid">
    <div class="row my-4">
        <div class="col text-center">
            <h2 class="display-3 title-font">Payment</h2>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container py-3 px-3 border">
    <div class="row justify-content-center">
        <div class="col-md-6 justify-content-center text-font text-center">
            {% if user.is_authenticated %}
            <section>
                <div class="product">
                    <div class="description">
                        <h3 class="my-2">Your subscription price:</h3>
                        <h5>£{{ subscription.total_cost|floatformat:2 }} per month, starting on
                            {{ subscription.subscription_start_date }}</h5>
                    </div>
                </div>
                <form action="/create-checkout-session" method="POST">
                    {% csrf_token %}
                    <!-- Add a hidden field with the lookup_key of your Price -->
                    <input type="hidden" name="lookup_key" value="{{PRICE_LOOKUP_KEY}}" />
                    <button id="checkout-and-portal-button" class="btn standout-button my-2"
                        type="submit">Checkout</button>
                </form>
            </section>
            {% else %}
            <p>Already have an account? Then please <a class="btn standout-button" href="{% url 'account_login' %}">Sign
                    in</a></p>
            <p>If you have not created an account yet, then please <a class="btn standout-button"
                    href="{% url 'account_signup' %}">Sign Up</a></p>
            {% endif %}
        </div>
    </div>
</div>
{% block customjs %}
<script src="{% static 'js/client.js' %}"></script>
{% endblock %}
{% endblock %}