{% extends 'base.html' %}
{% load static %}

{% block title %}
- Subscribe
{% endblock %}
{% block content %}
<h1>SUBSCRIPTION PAGE</h1>
<div class="container">
    <div class="row">
        <div class="col">
            <form action="{% url 'subscribe' %}" method="POST" id="subscription-form">
                {% csrf_token %}
                {{ subscription_form | crispy }}
                <button id="submit-order">Complete Order</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}