{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
- Subscribe
{% endblock %}
{% block content %}
<h1>SUBSCRIPTION PAGE</h1>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12">
            {% if user.is_authenticated %}
            <form action="{% url 'subscribe_details' %}" method="POST" id="subscription-form">
                <div class="row">
                    <div class="col-6">
                        {% csrf_token %}
                        {{ subscription_details_form | crispy }}
                        <label class="form-check-label" for="subscription-save-info">Do you want to save your
                            information to your profile?</label>
                        <input class="form-check-input" type="checkbox" id="subscription-save-info"
                            name="save_information" checked>
                        <br>
                        <button id="submit-order">Next Step</button>
                    </div>
                </div>
            </form>
            {% else %}
            <p>Already have an account? Then please <a href="{% url 'account_login' %}">sign in</a>.</p>
            <p>If you have not created an account yet, then please <a href="{% url 'account_signup' %}">sign up</a>
                first.</p>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}