{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
- Order
{% endblock %}

{% block header %}
<div class="container-fluid">
    <div class="row my-4">
        <div class="col text-center">
            <h2 class="display-3 title-font">Why Order?</h2>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center text-center">
        <div class="col-md-6 align-self-center text-font">
            <p>Tasty and Easy Whey to help you reach and maintain your goals!</p>
            <p>Fantastic tasting and easy to mix!</p>
            <p>500g bags which allow a variety of flavours to be picked!</p>
        </div>
        <div class="col-md-6 text-font"><img src="{% static 'images/woman-shake-1.png' %}" class="img-fluid"
                alt="women sitting with a protein shake"></div>
    </div>
    <div class="col align-self-center text-font text-center">
        <p>Already have an account? Then please <a class="btn standout-button" href="{% url 'account_login' %}">Sign
                in</a></p>
        <p>If you have not created an account yet, then please <a class="btn standout-button"
                href="{% url 'account_signup' %}">Sign Up</a></p>
    </div>
</div>
</div>

{% endblock %}