{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
- Order
{% endblock %}

{% block header %}
<div class="container-fluid">
    <div class="row my-4">
        <div class="col text-center">
            <h2 class="display-3 title-font">Your Protein</h2>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container py-3 px-3 border">
    <div class="row justify-content-center text-font">
        <div class="col-12">
            {% if user.is_authenticated %}
            <h2 class="text-font text-center my-2">Please note, all bags weigh 500g and cost £6.99 each.</h2>
            <form action="{% url 'order_items' %}" method="POST" id="order-form">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        {% csrf_token %}
                        {{ order_items_form | crispy }}
                        <br>
                        <button class="btn standout-button my-2" id="submit-order">Continue To Payment</button>
                    </div>
                </div>
            </form>
            {% else %}
            <p>Already have an account? Then please <a class="btn standout-button" href="{% url 'account_login' %}">Sign
                    in</a></p>
            <p>If you have not created an account yet, then please <a class="btn standout-button"
                    href="{% url 'account_signup' %}">Sign Up</a></p>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}