{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
- Order
{% endblock %}

{% block header %}
<div class="container-fluid">
    <div class="row my-4">
        <div class="col text-center">
            <h2 class="display-3 title-font">Payment</h2>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container py-3 px-3 border">
    <div class="row justify-content-center">
        <div class="col-md-6 justify-content-center text-font text-center">
            {% if user.is_authenticated %}
            <section>
                <div class="product">
                    <div class="description">
                        <h3 class="my-2">Your order:</h3>
                        {% for item in order.lineitems.all %}
                        {% if item.quantity > 0 %}
                        <p>500g {{ item.product }} x {{ item.quantity }}</p>
                        {% endif %}
                        {% endfor %}
                        <p>The total cost is: £{{ order.total_cost }}.</p>
                        <div>
                            <h3 class="my-4">Delivery Address:</h3>
                            <p>{{ order.address_one }}, {{ order.address_two }},
                                {{ order.town_city }},
                                {{ order.postcode }}, {{ order.county }}.</p>
                        </div>
                    </div>
                </div>
                <form action="/create-checkout-session" method="POST">
                    {% csrf_token %}
                    <button id="checkout-and-portal-button" class="btn standout-button my-2"
                        type="submit">Checkout</button>
                </form>
                <h3 class="my-2">Something not quite right?</h3>
                <p>Click the button below to delete the order and try again.</p>
                <a class="btn text-white background-black" href="{% url 'try_again' %}">Try Again</a>
            </section>
            {% else %}
            <p>Already have an account? Then please <a class="btn standout-button" href="{% url 'account_login' %}">Sign
                    in</a></p>
            <p>If you have not created an account yet, then please <a class="btn standout-button"
                    href="{% url 'account_signup' %}">Sign Up</a></p>
            {% endif %}
        </div>
    </div>
</div>
{% block customjs %}
{% endblock %}
{% endblock %}